<app-nav ></app-nav>
<div class="container section">
        <ul class="nav nav-pills nav-pills-primary nav-pills-icons">
            <li class="nav-item"  >
              <a class="nav-link show" data-toggle="tab" routerLinkActive="active"   [routerLink]="['/members']" >
                <i class="tim-icons icon-single-02"></i> Members
              </a>
            </li>
            <li class="nav-item"  routerLinkActive="active">
              <a class="nav-link" data-toggle="tab" routerLinkActive="active"  [routerLink]="['/messages']">
                <i class="tim-icons icon-chat-33" ></i> Messages
              </a>
            </li>
            <li class="nav-item"  routerLinkActive="active">
              <a class="nav-link" data-toggle="tab" routerLinkActive="active"  [routerLink]="['/lists']">
                <i class="tim-icons icon-settings-gear-63" ></i> Lists
              </a>
            </li>
          </ul>
    </div>
<router-outlet></router-outlet>
