<!-- <nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class='container'>
      <a class="navbar-brand" [routerLink]="['/home']">FindnChat</a>
      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/members']"  >Matches </a>
        </li>
        <li class="nav-item"  routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/lists']">Lists</a>
        </li>
        <li class="nav-item"  routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']">Messages</a>
        </li>
      </ul>
      
    
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <span class="mr-1">
          <img src="{{photoUrl || '../../../../assets/user.png'}}" alt="">
        </span>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{authService.decodeToken.unique_name | titlecase}}
        </a>
      
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/member/edit']" ><i class="fa fa-user"></i> Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
  
     
  </div>
</nav> 
 -->




<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" rel="tooltip" title="Find Your Matches" data-placement="bottom" target="_blank">
        <span>FindnChat</span>
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="" target="_blank">
            <i class="fab fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="" target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li *ngIf="loggedIn()" class="dropdown nav-item">
          <span>
            <img src="{{photoUrl || '../../../../assets/user.png'}}" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 50px;">
          </span>
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="fa fa-cogs d-lg-none d-xl-none"></i> Welcome {{authService.decodeToken.unique_name | titlecase}}
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a  [routerLink]="['/member/edit']"  class="dropdown-item">
              <i class="tim-icons icon-paper"></i> Logout
            </a>
            <a  (click)="logout()" class="dropdown-item">
              <i class="tim-icons icon-bullet-list-67"></i>Logout
            </a>            
          </div>
        </li>
        <li class="nav-item">
          <form *ngIf="!loggedIn()" #loginForm="ngForm"  class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
            <input class="form-control mr-sm-2" type="text" placeholder="UserName" name="username" required [(ngModel)]="model.username">
            <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" required [(ngModel)]="model.password">
            <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
          </form>
        </li>

      </ul>
    </div>
  </div>
</nav>